orbit {
  --orbit_display_width: calc(
    (var(--orbit_radius_min) * 2) *
    var(--orbit_unit_multiplier) *
    var(--distance_display_unit)
  );

  --orbit_display_height: calc(
    (var(--orbit_radius_max) * 2) *
    var(--orbit_unit_multiplier) *
    var(--distance_display_unit)
  );

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  width: var(--orbit_display_width);
  height: var(--orbit_display_height);
}

.scale_orbits orbit {
  --orbit_diameter: calc(
    var(--orbit_fallback_multiplier) *
    var(--orbit_fallback_interval) *
    var(--orbit_unit_multiplier) *
    var(--distance_display_unit)
  );

  width: var(--orbit_diameter);
  height: var(--orbit_diameter);
}
